body {
  font-size: 62.5%; /* 62.5% trick: 1rem = 10px for easier scaling */
  background: linear-gradient(to right, #CF53A9,#8B3870,#692A55);
  margin: 5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 0.25fr);
  
  width: 100%;
  text-align: center;
}

.dice {
  grid-row: 3;
  
  text-align: center;
  display: inline-block;
  margin: 0;
}

h1 {
  grid-column: span 2;

  margin: 3rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #5cb6f9;
}

.btn-container {
  grid-row: 2;
  grid-column: span 2;

  margin: 0;
  display: flex;
  justify-content: center;

}

button {
  font-size: 3rem;
  /* font-family:  */
  color: black;
  border-radius: 50%;
  background-color: #5FE4E8;
  border: black;
  border-style: solid;
  padding: 2rem;
  transition: 0.1s ease-in-out;
  box-shadow: 0 0 20px rgba(98, 0, 234, 1), 0 0 30px rgba(98, 0, 234, 0.8);
  
}

button:hover {
  background-color: #5FE4E8;
  cursor: pointer;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 20px rgba(98, 0, 234, 1), 0 0 40px rgba(98, 0, 234, 0.8);
}

button:active {
  transform: scale(1.2); /* Shrinks slightly when clicked */
  box-shadow: none; /* Dim glow when clicked */
}

@media (hover: none) { /* Targets devices that don’t support hover (touchscreens). */
  button:hover {
    transform: none;
  }
}

p {
  font-size: 4rem;
  text-shadow: 3px 0 #232931;
  color: #5cb6f9;
  font-family: 'Indie Flower', cursive;
}

.player1, .player2 {
  margin-bottom: -2rem;
}

img {
  width: 100%;
  height: auto;
}

.score-header {
  grid-column: span 2;
  grid-row: 4;
}

h2 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #5cb6f9;
  margin: 0;
}

.score-counter-1, .score-counter-2 {
  margin: 0;
  font-size: 8rem;
}

.score-counter-container-1, .score-counter-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;

  border: #E8D35F;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10%;
  border-width: 0.25rem;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}