body {
  font-size: 62.5%; /* 62.5% trick: 1rem = 10px for easier scaling */
  background: linear-gradient(to right, #CF53A9,#8B3870,#692A55);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 0.25fr);
  
  width: 100%;
  text-align: center;
}

.dice {
  grid-row: 3;
  
  text-align: center;
  display: inline-block;
  margin: 0rem;
}

h1 {
  grid-column: span 2;

  margin: 3rem;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #5cb6f9;
}

.btn-container {
  grid-row: 2;
  grid-column: span 2;

  margin: 3rem;
  display: flex;
  justify-content: center;

}

button {
  font-size: 3rem;
  color: black;
  border-radius: 50%;
  background-color: #E8745F;
  border: black;
  border-style: solid;
  padding: 2rem;
  transition: 0.1s ease-in-out;
  /* font-family:  */
}

button:hover {
  background-color: #5FE4E8;
  cursor: pointer;
  transform: translateY(-2px) scale(1.05);
}

button:active {
  transform: scale(0.95); /* Shrinks slightly when clicked */
}

p {
  font-size: 4rem;
  text-shadow: 3px 0 #232931;
  color: #5cb6f9;
  font-family: 'Indie Flower', cursive;
  margin-bottom: -2rem;
}

img {
  width: 100%;
  height: auto;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}